name: Release

on:
  release:
    types:
      - published

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set env
        run: echo "VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: lts/*

      - name: Install bun
        run: curl -fsSL https://bun.sh/install | bash

     
      
      - name: Set package version
        run: bun ./scripts/set-version.js . ${{ env.VERSION }}

      - name: Install
        run: bun install

      - name: Build package
        run: bun run build

      - name: Authenticate Registry
        run: npm set "//registry.npmjs.org/:_authToken" ${{ secrets.NPM_TOKEN }}
        
      - name: Publish canary
        if: "github.event.release.prerelease"
        run: pnpm publish --access public --tag=canary --no-git-checks 

      - name: Publish
        if: "!github.event.release.prerelease"
        run: pnpm publish --access public --no-git-checks 
